body {
  font-family: "Varela", sans-serif;
  background: #ccc;
  line-height: 1.4em;
}

h2 {
  font-size: 1.2em;
  line-height: 0.6em;
}

p {
  font-size: 1em;
  line-height: 0.6em;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #ee2c2c;
  border-radius: 1em;
  text-align: center;
  font-size: 1em;
  margin-bottom: 2em;
  transition: 0.5s;
  padding: 0.6em;
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 0.25em;

  img {
    width: 90%;
    height: auto;
    transition: 0.5s;
    display: block;
  }
}

.card:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  background: #39d7e5;
  border-radius: 1em;
  color: #000;
}
.detailsSurround {
  height: auto;
  border-radius: 2%;
  border: 1px solid #000;
  padding: 1em;

  .leftSection,
  .rightSection {
    width: 66%;
    margin: 0;
    padding: 0.3em;
    display: inline-block;
  }
  .leftSectionSurround {
    height: 0;
    border-bottom: 100px solid #fff;
    border-right: 100px solid transparent;
    position: relative;
    z-index: 2;
  }
  .rightSectionSurround {
    height: 0;
    border-bottom: 100px solid #000;
    border-left: 20px solid transparent;
    position: relative;
    top: -90px;
    width: 132px;
    z-index: 3;
    right: -80px;
  }
  .leftSection {
    text-align: left;
    color: #000;
  }
  .rightSection {
    text-align: right;
    color: #fff;
  }

  .checked {
    color: #ffa500;
  }
}
// .button {
//   position: relative;
//   display: block;
//   text-decoration: none;
//   line-height: 60px;
//   background: #171515;
//   border-radius: 0.4em;
//   font-size: 1.2em;
//   color: #fff;
//   transition: 0.5s;

//   // color: #fff;
//   // padding: 0.6em;
//   // border-radius: 1em;
//   // text-decoration: none;
//   // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
//   // background-image: -webkit-gradient(
//   //   linear,
//   //   left top,
//   //   left bottom,
//   //   from(rgba(255, 255, 255, 0.3)),
//   //   to(rgba(255, 255, 255, 0))
//   // );
//   // background-image: -webkit-linear-gradient(
//   //   top,
//   //   rgba(255, 255, 255, 0.3),
//   //   rgba(255, 255, 255, 0)
//   // );
//   // background-image: -moz-linear-gradient(
//   //   top,
//   //   rgba(255, 255, 255, 0.3),
//   //   rgba(255, 255, 255, 0)
//   // );
//   // background-image: -ms-linear-gradient(
//   //   top,
//   //   rgba(255, 255, 255, 0.3),
//   //   rgba(255, 255, 255, 0)
//   // );
//   // background-image: -o-linear-gradient(
//   //   top,
//   //   rgba(255, 255, 255, 0.3),
//   //   rgba(255, 255, 255, 0)
//   // );
//   // background-image: linear-gradient(
//   //   top,
//   //   rgba(255, 255, 255, 0.3),
//   //   rgba(255, 255, 255, 0)
//   // );
//   border-color: #57a957;
// }
// .button:hover {
//   background-color: #62c462;
//   color: #ffa502;
//   box-shadow: 0 0 15px #d35400;
//   text-shadow: 0 0 15px #d35400;
// }

// .button,
// .button:active {
//   background: #57a957;
// }

.button {
  border-radius: 4px;
  // background-color: #57a957;
  background-color: #ffa502;
  border: none;
  color: #000;
  text-align: center;
  display: inline-block;
  font-size: 1.4em;
  padding: 0.5vw;
  width: 11vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3vh 0 0;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  background-color: #62c462;
  // color: #ffa502;
  color: #fff;
}

// .card-content {
//   padding: 1.4em;
// }

// .card-content p {
//   font-size: 95%;
// }

// @media screen and (min-width: 40em) {
//   .cards {
//     margin-top: -1em;
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//   }

//   .card {
//     margin-bottom: 1em;
//     display: flex;
//     flex: 0 1 calc(50% - 0.5em);
//   }
// }

// @media screen and (min-width: 60em) {
//   .cards {
//     margin-top: inherit;
//   }

//   .card {
//     margin-bottom: 2em;
//     display: flex;
//     flex: 0 1 calc(33% - 0.5em);
//   }
// }

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
    max-width: calc(25% - 1em);
  }
}

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em;
  }
}
