body {
  font-family: "Varela", sans-serif;
  background: #ccc;
  line-height: 1.4em;
}

h2 {
  font-size: 1.2em;
  line-height: 0.6em;
}

h3 {
  font-size: 1.1em;
  line-height: 0;
}

p {
  font-size: 1em;
  line-height: 0.6em;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #ee2c2c;
  border-radius: 1em;
  text-align: center;
  font-size: 1em;
  transition: 0.5s;
  padding: 1em 0;
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 0.25em;

  img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.card:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  background: #39d7e5;
  border-radius: 1em;
  color: #000;
}
.detailsSurround {
  .leftSection,
  .rightSection {
    width: 100%;
    margin: 0;
    padding: 0.5em;
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 0;
  }
  .leftSectionSurround {
    height: 0;
    border-bottom: 120px solid #fff;
    border-right: 100px solid transparent;
    position: relative;
    z-index: 2;

    .leftSection {
      color: #000;
      position: absolute;
      left: 0;
    }
  }
  .rightSectionSurround {
    height: 0;
    border-bottom: 100px solid #000;
    border-left: 20px solid transparent;
    position: relative;
    top: -115px;
    z-index: 3;
    right: -30%;
    width: 63%;
    position: relative;

    .rightSection {
      color: #fff;

      .price {
        font-size: 1.4em;
        line-height: 0;
      }
    }
  }

  .price,
  .checked {
    color: #ffa500;
  }
  .carwowRating {
    margin-top: -80px;
    .fa {
      font-size: 1.6em;
    }
  }
}

.button {
  border-radius: 1em;
  background: #ffa500;
  border: none;
  color: #000;
  text-align: center;
  display: inline-block;
  font-size: 1.4em;
  padding: 0.5vw 2vw;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3vh 0 0;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  background-color: #62c462;
  color: #fff;
}

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
    max-width: calc(25% - 1em);
  }
}

@media screen and (min-width: 52em) {
  .centered {
    max-width: 70em;
  }
}
